<h1>Weather#show</h1>
<p><%= "cached" if @read_from_cache %></p>
<%= link_to "Search again", "/" %>
<p><%= @weather_current.temp %></p>
<p><%= @weather_current.temp_max %></p>
<p><%= @weather_current.temp_min %></p>